body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background: #395955;
}
pre {
  font-size: 7em;
}
.tick line {
  stroke: #FFFFFF;
  opacity: 0.1;
}
.tick text {
  fill: #FFFFFF;
}
.marks circle {
  fill: #FFFFFF;
}
.marks path {
  stroke: #FFFFFF;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.marks rect {
  fill: #FFFFFF;
}

.axis-label {
  font-size: 2.5em;
  fill: #FFFFFF;
}
